@font-face {
  font-family: "danielbold";
  src: url("../fonts/Daniel-Bold-webfont.woff2") format("woff2");
  src: url("../fonts/Daniel-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
div,
aside,
main,
nav,
header,
section,
footer,
input,
label,
textarea,
span,
textarea,
p,
ul,
li,
a,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: red white;
}

input,
label,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.43;
  font-size: clamp(1.125rem, 0.7453rem + 1.8987vw, 3rem);
}

h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.43;
  font-size: clamp(1rem, 0.8987rem + 0.5063vw, 1.5rem);
}

h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.43;
  font-size: clamp(1rem, 0.9656rem + 0.1722vw, 1.17rem);
}

h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 0.9375rem;
}

h5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 0.9375rem;
}

p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.875rem, 0.8497rem + 0.1266vw, 1rem);
}

li {
  font-size: clamp(0.875rem, 0.8497rem + 0.1266vw, 1rem);
}

/* @mixin fade($type) {
	@if $type == "hide" {
		visibility: hidden;
		opacity: 0;
		transition: visibility 1s, opacity 1s;
	} @else if $type== "show" {
		visibility: visible;
		opacity: 1;
		transition: visibility 1s, opacity 1s;
	}
} */
body {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main-page-container {
  display: grid;
  grid-template-areas: "nav nav nav nav" "header header header header" "hero hero hero hero" "info info  info info" "about about about about" "service service service service" "foot foot foot foot ";
}
@media screen and (max-width: 1026px) {
  .main-page-container {
    grid-template-areas: "nav nav nav " "header header header " "hero hero hero " "info info  info" "about about about " "service service service " "foot foot foot";
  }
}
@media screen and (max-width: 900px) {
  .main-page-container {
    grid-template-areas: "nav nav " "header header " "hero hero " "info info " "about about " "service service" "foot foot ";
  }
}
@media screen and (max-width: 768px) {
  .main-page-container {
    grid-template-areas: "nav " "header " "hero " "info " "about  " "service " "foot ";
  }
}

.hero-wrapper {
  display: grid;
  grid-template-areas: "hero1 hero1" "hero2 hero2" "hero3 hero3" "hero4 hero4" "hero5 hero5";
}
@media screen and (max-width: 900px) {
  .hero-wrapper {
    grid-template-areas: "hero1 " "hero2 " "hero3 " "hero4 " "hero5 ";
  }
}

.about-content-grid-wrapper {
  display: grid;
  grid-template-areas: "about1 about1" "about1 about1";
  justify-items: center;
}
@media screen and (max-width: 900px) {
  .about-content-grid-wrapper {
    grid-template-areas: "about1" "about1";
  }
}

.service-main-grid-wrapper {
  display: grid;
  grid-template-areas: "service1 service1" "service1 service1";
}
@media screen and (max-width: 900px) {
  .service-main-grid-wrapper {
    grid-template-areas: "service1" "service1";
  }
}

.f-contact {
  display: grid;
  grid-template-areas: "form1 form1" "form2 form2" "form3 form3";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .f-contact {
    grid-template-areas: "form1" "form2" "form3" "form4" "form5" "form6";
    justify-items: flex-start;
  }
}

/* .nav-container {
}
 */
.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* 	@include mix.media(445px){
  		justify-content: left;

  	} */
}

.header-background-trans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* 	@include mix.media(445px){
  		justify-content:flex-start;
  	//	flex: 0 1 74%;


  	} */
}

.header-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 	@include mix.media(375px){
  		width: 100%;
  		//flex: 0 1 25%;

  } */
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero-header-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-ul-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-ul-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.hero-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5px;
}
@media screen and (max-width: 475px) {
  .info-card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 475px) {
  .info-card {
    justify-items: center;
  }
}

.about-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-header-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-title-content-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
  	@include mix.media(600px){
  		justify-content: left;
  	} */
}

.lines-burger {
  margin: 15px 0 0 50px;
  height: 60px;
  width: 75px;
  position: absolute;
  top: 0;
  left: 25px;
  color: rgb(25, 23, 23);
}

.lines {
  display: block;
  float: left;
  clear: both;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 10px;
  margin-left: -30px;
}

.lines,
.lines::before,
.lines::after {
  height: 2px;
  width: 23px;
  background-color: rgb(25, 23, 23);
}

.lines::before,
.lines::after {
  content: "";
  position: absolute;
  left: 0;
}

.lines::before {
  bottom: 6px;
}

.lines::after {
  top: 6px;
}

.open1 .lines {
  -webkit-transform: rotate(405deg) translate(6px);
      -ms-transform: rotate(405deg) translate(6px);
          transform: rotate(405deg) translate(6px);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  -o-transition: transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
  background-color: rgb(255, 0, 0);
}

.open1 .lines::before {
  opacity: 0;
  -webkit-transition: opacity 50ms ease-in;
  -o-transition: opacity 50ms ease-in;
  transition: opacity 50ms ease-in;
}

.open1 .lines::after {
  -webkit-transform: rotate(450deg) translate(-6px);
      -ms-transform: rotate(450deg) translate(-6px);
          transform: rotate(450deg) translate(-6px);
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  -o-transition: transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
  background-color: rgb(255, 0, 0);
}

.open1 .nav-container {
  position: relative;
  top: 0;
  width: 100%;
}

.open1 .nav-wrapper {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  -webkit-transform: top translateY(0);
      -ms-transform: top translateY(0);
          transform: top translateY(0);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  -o-transition: transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-right: 100px;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .open1 .nav-wrapper {
    padding-right: 25px;
  }
}

.open1 .btn1 {
  color: rgb(22, 2, 10);
  -webkit-transition: -webkit-transform color 250ms ease-in;
  transition: -webkit-transform color 250ms ease-in;
  -o-transition: transform color 250ms ease-in;
  transition: transform color 250ms ease-in;
  transition: transform color 250ms ease-in, -webkit-transform color 250ms ease-in;
}

.open1 .logo {
  -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  -o-transition: transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

/* // button for the hamburger
.lines-burger{
width: 165px;
height: 80px;
border: 1px solid black;
	color: col.$primary-color-lines-default;
border-radius: 50%;
	//background-color: rgb(14, 13, 13);
} */
.btn-contact {
  width: 150px;
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(105, 54, 158);
  border-radius: 0 15px 0 15px;
  color: white;
}
.btn-contact.btn-contact:active {
  background-color: #9c6dcd;
}
.btn-contact.btn-contact:focus {
  background-color: #9c6dcd;
}

/* svg {
	width: 32px;
	height: 32px;
} */
.main-logo {
  width: 10%;
  height: auto;
}

.icon-img {
  width: 50px;
  height: 50px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background-color: white;
  padding: 7px;
  border: 1px solid black;
  border-radius: 0 10px 0 10px;
}

.nav-icons {
  width: 24px;
  height: 24px;
  padding-bottom: 3px;
}

.svg-img {
  max-width: 100%;
  height: 300px;
}

#hamburger {
  width: 175px;
  height: 175px;
}

.hero-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px -1px #222121;
          box-shadow: 1px 1px 3px -1px #222121;
  background-color: black;
}

.about-img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 8px #222121;
          box-shadow: 3px 3px 8px #222121;
}

.service-main-img-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px #222121;
          box-shadow: 3px 3px 8px #222121;
}

.spacer-line {
  margin: 20px 0 20px 0;
  width: 140px;
  height: 2px;
  background-color: black;
}

.main-page-container {
  margin: 0 auto;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(152, 152, 152);
}
@media screen and (max-width: 768px) {
  .main-page-container {
    width: 85%;
  }
}
@media screen and (max-width: 568px) {
  .main-page-container {
    width: 100%;
  }
}

.lines-burger {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .lines-burger {
    visibility: visible;
    z-index: 100;
    -webkit-transition: visibility 250ms ease-in;
    -o-transition: visibility 250ms ease-in;
    transition: visibility 250ms ease-in;
  }
}

.nav-bk-color {
  background-color: rgb(255, 255, 255) !important;
  -webkit-transition: background-color 250ms ease-in-out;
  -o-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(228, 110, 84, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(228, 110, 84, 0.2);
}

.nav-container {
  grid-area: nav;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: sticky;
  top: 0;
  z-index: 4;
}
@media screen and (max-width: 768px) {
  .nav-container {
    height: 94.2px;
  }
}
@media screen and (max-width: 375px) {
  .nav-container {
    height: 100px;
  }
}

.logo {
  padding: 15px;
  position: absolute;
  top: 0;
  z-index: 50;
}

.font2 {
  font-family: "danielbold", sans-serif;
  position: relative;
  color: black;
  padding-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .font2 {
    font-size: 12px;
    top: 32px;
    left: 5px;
  }
}

.font3 {
  font-family: "danielbold", sans-serif;
  position: relative;
  color: black;
}
@media screen and (max-width: 768px) {
  .font3 {
    font-size: 14px;
    top: 38px;
    left: 5px;
  }
}

.nav-wrapper {
  list-style-type: none;
  padding: 4px;
}
@media screen and (max-width: 768px) {
  .nav-wrapper {
    -webkit-transform: translateY(-5000px);
        -ms-transform: translateY(-5000px);
            transform: translateY(-5000px);
    -webkit-transition: -webkit-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    -o-transition: transform 100ms ease;
    transition: transform 100ms ease;
    transition: transform 100ms ease, -webkit-transform 100ms ease;
  }
}

.nav-wrapper :nth-child(3) {
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .nav-wrapper :nth-child(3) {
    margin-left: 0;
  }
}

.nav-item {
  padding: 12px;
}

.nav-link {
  text-decoration: none;
  padding: 4px;
}
.nav-link {
  color: rgb(20, 19, 20);
}
.nav-link:hover {
  color: rgb(255, 255, 255);
}
.nav-link:active, .nav-link:focus {
  color: rgb(18, 209, 37);
}

.header {
  grid-area: header;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  padding: 30px;
  background-image: url("./images/art-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-background-trans {
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
}
@media screen and (max-width: 918px) {
  .header-background-trans {
    width: 100%;
  }
}

.header-text-wrapper {
  width: 100%;
}

.header-text-wrapper :nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-title {
  padding-top: 10px;
}

.hero-section {
  grid-area: hero;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
}

.hero-header-wrapper {
  grid-area: hero1;
  margin-top: 45px;
  margin-bottom: 15px;
}

.hero-header-text-wrapper {
  grid-area: hero2;
  width: 100%;
  height: auto;
}

.hero-text {
  max-width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  /* 	@include mix.media(900px) {
  padding: 20px;
  } */
}

.hero-header-footer-wrapper {
  grid-area: hero3;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.hero-ul-container {
  grid-area: hero4;
  width: 100%;
  background-color: #181717;
  color: white;
}

.hero-ul-wrapper {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-li-spacer {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero-li {
  max-width: 100%;
  padding-bottom: 10px;
}
@media screen and (max-width: 568px) {
  .hero-li {
    max-width: 80%;
  }
}

.hero-li:nth-child(1) {
  font-size: 17px;
}

.hero-li:nth-child(2) {
  font-size: 18px;
}

.hero-li:nth-child(3) {
  font-size: 19px;
}

.hero-li:nth-child(4) {
  font-size: 20px;
}

.hero-li:nth-child(5) {
  font-size: 21px;
}

.anim {
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    -webkit-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    opacity: 1;
    -webkit-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    -webkit-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    opacity: 1;
    -webkit-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
  }
}
.hero-li::marker {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Creator: CorelDRAW --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='20px' height='20px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd'%0AviewBox='0 0 2048 2048' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .fil0 %7Bfill:none%7D .fil1 %7Bfill:%23ff0000;fill-rule:nonzero%7D %5D%5D%3E%3C/style%3E%3C/defs%3E%3Cg id='Layer_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Cg id='_242467808'%3E%3Crect id='_242468024' class='fil0' width='2048' height='2048'/%3E%3Crect id='_242467880' class='fil0' x='255.999' y='255.999' width='1536' height='1536'/%3E%3C/g%3E%3Cpolygon class='fil1' points='1270.92,506.998 1200.75,595.058 1512.54,906.846 1572.7,967.005 1487.62,967.005 249.375,967.005 249.375,1080.74 1482.79,1080.74 1567.86,1080.74 1507.7,1140.89 1184.77,1463.82 1263.28,1543.55 1785.38,1021.45 '/%3E%3C/g%3E%3C/svg%3E");
}

.hero-img-wrapper {
  grid-area: hero5;
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
@media screen and (max-width: 568px) {
  .hero-img-wrapper {
    padding-top: 10px;
  }
}

.hero-title-foot {
  max-width: 100%;
  margin: 50px 0 20px 0;
}
@media screen and (max-width: 568px) {
  .hero-title-foot {
    margin: 20px 0 20px 0;
  }
}

.hero-img-text {
  max-width: 100%;
  padding-bottom: 20px;
}
@media screen and (max-width: 568px) {
  .hero-img-text {
    text-align: center;
  }
}

.hero-img-container {
  max-width: 100%;
}

@-webkit-keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
    opacity: 1;
  }
}
.info-section {
  grid-area: info;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(37, 35, 36);
}

.info-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: url("data:image/svg+xml,%3Csvg width='325' height='-300' viewBox=' -60 -5 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Polygon 7'%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='white'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='black'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' stroke='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}
@media screen and (max-width: 976px) {
  .info-container {
    background-image: url("data:image/svg+xml,%3Csvg width='325' height='-300' viewBox=' -60 -5 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Polygon 7'%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='white'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='black'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' stroke='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
@media screen and (max-width: 807px) {
  .info-container {
    background-image: url("data:image/svg+xml,%3Csvg width='325' height='-300' viewBox=' -60 -5 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Polygon 7'%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='white'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='black'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' stroke='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
@media screen and (max-width: 768px) {
  .info-container {
    background-image: url("data:image/svg+xml,%3Csvg width='325' height='-300' viewBox=' -60 -5 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Polygon 7'%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='white'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' fill='black'/%3E%3Cpath d='M0.998322 0.5L39.5 62.0571L78.0017 0.5H0.998322Z' stroke='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}

.info-title-wrapper {
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0 50px 0;
  color: #eaba32;
}

.info-title {
  padding: 20px;
}

.info-title-wrapper > span {
  background-color: #eaba32;
  margin: 60px;
  width: 175px;
  height: 2px;
}

.info-title-text-wrapper {
  margin-bottom: 65px;
  max-width: 75%;
  padding: 30px;
  border-radius: 5px;
  background-image: url("./images/heade-banner-960_720-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(105, 54, 158);
  color: goldenrod;
  -webkit-box-shadow: 1px 1px 1px 1px #111111;
          box-shadow: 1px 1px 1px 1px #111111;
}
@media screen and (max-width: 900px) {
  .info-title-text-wrapper {
    max-width: 95%;
    padding: 20px;
  }
}

.info-title-text-row {
  width: 90%;
  padding: 30px;
  margin: 0 auto;
  background-color: black;
  border-radius: 5px;
}
@media screen and (max-width: 568px) {
  .info-title-text-row {
    max-width: 100%;
    padding: 20px;
  }
}

.info-title-text {
  width: 100%;
  margin: 0 auto;
}

.faded {
  opacity: 0;
  -webkit-transform: translate3d(0, 5rem, 0);
          transform: translate3d(0, 5rem, 0);
  -webkit-transition: o, -webkit-transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  transition: o, -webkit-transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  -o-transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87), o;
  transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87), o;
  transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87), o, -webkit-transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

.show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.info-card {
  max-width: 33%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  border: 1px solid black;
  background: rgb(2, 0, 36);
  background: -o-linear-gradient(108deg, rgb(2, 0, 36) 0%, rgb(101, 101, 101) 28%);
  background: linear-gradient(342deg, rgb(2, 0, 36) 0%, rgb(101, 101, 101) 28%);
  color: white;
}
.info-card:hover {
  background: #989898;
  color: black;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .info-card {
    max-width: 45%;
  }
}
@media screen and (max-width: 568px) {
  .info-card {
    max-width: 50%;
  }
}
@media screen and (max-width: 475px) {
  .info-card {
    max-width: 85%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 900px) {
  .info-card:last-child {
    max-width: 90%;
  }
}
@media screen and (max-width: 568px) {
  .info-card:last-child {
    max-width: 50%;
  }
}
@media screen and (max-width: 475px) {
  .info-card:last-child {
    max-width: 85%;
  }
}

.info-title {
  padding: 25px;
}
@media screen and (max-width: 900px) {
  .info-title {
    padding: 25px;
  }
}

.about-section {
  grid-area: about;
  max-width: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: white;
}

.about-header-container {
  width: 100%;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 85px;
  margin-bottom: 75px;
  background-color: black;
  color: goldenrod;
  background-image: url("../../images/about-banner-960_720.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 900px) {
  .about-header-container {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}

.about-header-overlay {
  width: 80%;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 900px) {
  .about-header-overlay {
    padding: 10px;
  }
}

.about-header-title {
  padding-bottom: 15px;
}

.about-content-grid-wrapper {
  grid-area: about1;
}

.about-card-wrapper {
  max-width: 75%;
  padding-bottom: 75px;
  margin-bottom: 40px;
  background-color: rgba(121, 81, 168, 0.7);
}
.about-card-wrapper:hover {
  -webkit-transform: translate(10px, -13px);
      -ms-transform: translate(10px, -13px);
          transform: translate(10px, -13px);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  -o-transition: transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  -webkit-box-shadow: 1px 1px 2px 2px black;
          box-shadow: 1px 1px 2px 2px black;
}
@media screen and (max-width: 900px) {
  .about-card-wrapper {
    max-width: 50%;
  }
}
@media screen and (max-width: 658px) {
  .about-card-wrapper {
    max-width: 65%;
  }
}

.about-title-text {
  padding: 10px;
}

.about-header-sub {
  background-color: rgb(35, 35, 35);
  padding: 10px;
  color: white;
  text-align: center;
}

.about-title-icon-wrapper {
  width: 100%;
  text-align: center;
  background-color: rgb(35, 35, 35);
}

.about-title-icon {
  max-width: 75px;
  max-height: 75px;
  margin-top: -35px;
  padding-bottom: 15px;
}

.services-section {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-area: service;
  background-color: white;
}

.service-main-grid-wrapper {
  grid-area: service1;
}

.service-title-wrapper {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: rgb(37, 35, 36);
  color: white;
}

.service-main-img-wrapper {
  padding: 25px;
}

.service-title-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.service-title-header {
  text-align: center;
}

.service-title-text {
  padding: 10px;
}

footer {
  grid-area: foot;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #f4f7f2;
  color: rgb(6, 6, 6);
}

.font {
  font-family: "danielbold", sans-serif;
  font-size: 24px;
}

.font1 {
  font-family: "danielbold", sans-serif;
  font-size: 18px;
}

.footer-wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  color: black;
}

.f-contact {
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: rgb(2, 0, 36);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(2, 0, 36)), color-stop(28%, rgb(169, 169, 169)));
  background: -o-linear-gradient(bottom, rgb(2, 0, 36) 0%, rgb(169, 169, 169) 28%);
  background: linear-gradient(360deg, rgb(2, 0, 36) 0%, rgb(169, 169, 169) 28%);
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.form-item {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
}

.placeholder {
  position: absolute;
  top: 15px;
  z-index: 6;
  height: 20px;
  left: 20px;
  width: 85px;
  padding: 12px;
  border-radius: 10px;
  opacity: 0;
  background-color: #eef3f8;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  -o-transition: transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.f-label {
  position: absolute;
  top: 15px;
  left: 22px;
  z-index: 7;
  line-height: 14px;
  pointer-events: none;
  color: #232333;
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  -o-transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
}

.input-wrap {
  position: relative;
}

.f-input {
  position: relative;
  max-width: 75%;
  padding: 10px;
  border-bottom: 1px solid rgb(10, 9, 9);
  /* 	@include mix.media(600px) {
  		width: 75%;
  	} */
}

.messagearea {
  position: relative;
  max-width: 100%;
  border-style: solid none solid none !important;
}
@media screen and (max-width: 900px) {
  .messagearea {
    max-width: 75%;
  }
}

.form-error {
  padding: 3px;
}

.btn-wrapper {
  padding: 15px;
}

.footer-foot {
  padding: 20px;
}

.f-input:not(:-moz-placeholder-shown) ~ .f-label {
  transform: translate(12px, -37px);
}

.f-input:not(:-ms-input-placeholder) ~ .f-label {
  -ms-transform: translate(12px, -37px);
      transform: translate(12px, -37px);
}

.f-input:focus ~ .f-label,
.f-input:not(:placeholder-shown) ~ .f-label {
  -webkit-transform: translate(12px, -37px);
      -ms-transform: translate(12px, -37px);
          transform: translate(12px, -37px);
}

.f-input:not(:-moz-placeholder-shown) ~ .placeholder {
  transform: translate(10px, -42px) scale(1.25);
  animation: fadeins 0.2s ease-in forwards 0.2s;
}

.f-input:not(:-ms-input-placeholder) ~ .placeholder {
  -ms-transform: translate(10px, -42px) scale(1.25);
      transform: translate(10px, -42px) scale(1.25);
  animation: fadeins 0.2s ease-in forwards 0.2s;
}

.f-input:focus ~ .placeholder,
.f-input:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translate(10px, -42px) scale(1.25);
      -ms-transform: translate(10px, -42px) scale(1.25);
          transform: translate(10px, -42px) scale(1.25);
  -webkit-animation: fadeins 0.2s ease-in forwards 0.2s;
          animation: fadeins 0.2s ease-in forwards 0.2s;
}

.messagearea:not(:-moz-placeholder-shown) ~ .f-label {
  transform: translate(10px, -42px);
}

.messagearea:not(:-ms-input-placeholder) ~ .f-label {
  -ms-transform: translate(10px, -42px);
      transform: translate(10px, -42px);
}

.messagearea:focus ~ .f-label,
.messagearea:not(:placeholder-shown) ~ .f-label {
  -webkit-transform: translate(10px, -42px);
      -ms-transform: translate(10px, -42px);
          transform: translate(10px, -42px);
}

.messagearea:not(:-moz-placeholder-shown) ~ .placeholder {
  transform: translate(10px, -48px) scale(1.25);
  animation: fadeins 0.2s ease-in forwards 0.2s;
}

.messagearea:not(:-ms-input-placeholder) ~ .placeholder {
  -ms-transform: translate(10px, -48px) scale(1.25);
      transform: translate(10px, -48px) scale(1.25);
  animation: fadeins 0.2s ease-in forwards 0.2s;
}

.messagearea:focus ~ .placeholder,
.messagearea:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translate(10px, -48px) scale(1.25);
      -ms-transform: translate(10px, -48px) scale(1.25);
          transform: translate(10px, -48px) scale(1.25);
  -webkit-animation: fadeins 0.2s ease-in forwards 0.2s;
          animation: fadeins 0.2s ease-in forwards 0.2s;
}

.f-input:not(:-moz-placeholder-shown) ~ .f-label {
  color: #660866; /* grayish */
}

.f-input:not(:-ms-input-placeholder) ~ .f-label {
  color: #660866; /* grayish */
}

.f-input:not(:placeholder-shown) ~ .f-label {
  color: #660866; /* grayish */
}

.f-input:focus ~ .f-label {
  color: #0e0d0e; /* focused red */
}

.messagearea:not(:-moz-placeholder-shown) ~ .f-label {
  color: #660866; /* grayish */
}

.messagearea:not(:-ms-input-placeholder) ~ .f-label {
  color: #660866; /* grayish */
}

.messagearea:not(:placeholder-shown) ~ .f-label {
  color: #660866; /* grayish */
}

.messagearea:focus ~ .f-label {
  color: #0e0d0e; /* focused red */
}

@-webkit-keyframes fadeins {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeins {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=app.css.map */
