body,
div,
aside,
main,
nav,
header,
section,
footer,
input,
label,
textarea,
p,
ul,
li,
a,
span,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.45;
  font-weight: 600;
  letter-spacing: 0.18rem;
  font-size: 16px;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}

h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  font-size: 1.0625rem;
}

h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
}

h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
}

h5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
}

/**
*
* Testing
*
**/
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "page page page page" "nav nav nav nav " "header header header header" "main main main main" "footer footer footer footer";
  position: relative;
  /* 	@include vars.media(">tablet", "<=laptop") {
  	grid-template-columns: repeat(3, 1fr);
  	grid-template-areas:
  		"page page page"
  		"nav nav nav"
  		"header header header"
  		"main main main"
  		"footer footer footer";
  }

  @include vars.media(">phone", "<=480px") {
  	grid-template-columns: 1fr;
  	grid-template-areas:
  		"page"
  		"nav"
  		"header"
  		"main"
  		"footer";
  } */
}

.page-container {
  grid-area: page;
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /* 	@include vars.media(">phone", "<=480px") {
  	width: 100%;
  } */
}

.lines-burger {
  margin: 15px 0 0 50px;
  height: 60px;
  width: 75px;
  position: absolute;
  top: 0;
  color: white;
  z-index: 1;
  visibility: hidden;
}

.btn1 {
  color: rgb(229, 238, 238);
}

.lines {
  display: block;
  float: left;
  clear: both;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 10px;
  margin-left: -30px;
}

.lines,
.lines::before,
.lines::after {
  height: 2px;
  width: 23px;
  background-color: rgb(238, 229, 229);
}

.lines::before,
.lines::after {
  content: "";
  position: absolute;
  left: 0;
}

.lines::before {
  bottom: 6px;
}

.lines::after {
  top: 6px;
}

.open1 .lines {
  -webkit-transform: rotate(405deg) translate(6px);
      -ms-transform: rotate(405deg) translate(6px);
          transform: rotate(405deg) translate(6px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: red;
}

.open1 .lines::before {
  opacity: 0;
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms;
  transition: opacity 250ms ease, -webkit-transform 250ms;
  -o-transition: transform 250ms, opacity 250ms ease;
  transition: transform 250ms, opacity 250ms ease;
  transition: transform 250ms, opacity 250ms ease, -webkit-transform 250ms;
}

.open1 .lines::after {
  -webkit-transform: rotate(450deg) translate(-6px);
      -ms-transform: rotate(450deg) translate(-6px);
          transform: rotate(450deg) translate(-6px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: red;
}

.open1 .nav-container {
  position: relative;
  top: 40px;
  width: 100%;
  z-index: 3;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 100ms ease, -webkit-transform 100ms;
  transition: opacity 100ms ease, -webkit-transform 100ms;
  -o-transition: transform 100ms, opacity 100ms ease;
  transition: transform 100ms, opacity 100ms ease;
  transition: transform 100ms, opacity 100ms ease, -webkit-transform 100ms;
}

.open1 .nav-wrapper {
  width: 100%;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  -o-transition: transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
  background-color: rgb(237, 232, 241);
}

.open1 .btn1 {
  color: rgb(156, 117, 22);
  -webkit-transition: -webkit-transform color 350ms ease-in;
  transition: -webkit-transform color 350ms ease-in;
  -o-transition: transform color 350ms ease-in;
  transition: transform color 350ms ease-in;
  transition: transform color 350ms ease-in, -webkit-transform color 350ms ease-in;
}

.nav-container {
  grid-area: nav;
  width: 95vw;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgb(237, 232, 241);
  z-index: 3;
  /* 	@include vars.media(">phone", "<=480px") {
  	transform: translateY(-5000px);
  	transition: transform 100ms, opacity 100ms ease;
  	margin-top: 10px;
  } */
}

.nav-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* 	@include vars.media(">phone", "<=480px") {
  	width: 100%;
  	//height: 275px;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-items: center;

  	& .li-items {
  		padding: 0.5rem;
  		list-style-type: none;
  		display: flex;
  		align-items: center;

  		//	display: inline-block;
  	}
  	& .nav-items {
  		text-decoration: none;
  		color: vars.$clr-pill;
  		padding: 0.5rem;
  	}
  	& .svg-img {
  		height: 24px;
  		width: 24px;
  	}
  } */
}

.li-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4px;
  padding: 0.8rem;
  list-style-type: none;
}

.nav-items {
  text-decoration: none;
  color: rgb(156, 117, 22);
  padding: 0.5rem;
}

.svg-img {
  height: 24px;
  width: 24px;
}

.head-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-area: header;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 75px;
  background-color: rgb(24, 24, 29);
  /*
  @include vars.media(">phone", "<=480px") {
  	flex-direction: column;
  	align-content: flex-start;
  	justify-content: flex-start;
  	margin: 0;
  	padding: 2.5rem 0 1.5rem 0;
  } */
}

/* 	@include vars.media(">phone", "<=480px") {
		//align-items: center;
		width: 70%;
		margin: 0;
		padding: 0;
		//visibility: hidden;

		.logo-img {
			margin-top: 25px;
			border-radius: 50%;
			max-width: 60%;
			max-height: 60%;
			object-fit: contain;
		}
	} */
.logo-img {
  margin: 55px 0 25px 0;
  border-radius: 0 10px 0 10px;
  max-width: 150px;
  height: 155px;
  background-color: black;
  opacity: 0.7;
}

.text-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  color: rgb(156, 117, 22);
  /* 	@include vars.media(">phone", "<=480px") {
  	width: 100%;
  	height: max-content;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	margin: 0;
  	padding: 15px;

  	.text-h2 {
  		transform: scaleX(0.7);
  	}
  } */
}

.text-h1 {
  margin-bottom: 0.625rem;
}

.cta {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 2.5rem;
  padding: 15px;
  border: 2px solid silver;
  border-radius: 0 10px 0 10px;
  background-color: rgb(53, 38, 63);
  font-size: 1.25rem;
}

.trust {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: rgb(156, 117, 22);
  margin: 3.125rem 0 3.125rem 0;
}

.main-section {
  width: 95vw;
  height: 50vh;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

.hero {
  grid-column: span 2;
  width: 100%;
  margin: 20px 0 20px 0;
  background-color: rgb(24, 24, 29);
}

.hero-wrapper {
  grid-column: span 1;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(134, 131, 136);
}

.hero-title {
  margin: 1.25rem 0 0 0;
}

.hero-head {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 0 20px 20px;
  border-radius: 8px;
  background-color: rgb(237, 232, 241);
}

.hero-text {
  width: 60%;
  margin-left: 50px;
  border-radius: 5px;
  padding: 10px;
}

.main-container {
  grid-area: main;
  width: 95vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(156, 117, 22);
}

.task-wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-title {
  text-align: center;
  width: 100%;
  margin: 30px 0 30px 0;
}

.task-text {
  padding: 15px;
}

.task-head {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
  justify-items: center;
}

/* 
.task-img-container {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: space-evenly;
	padding: 20px 0 20px 0;
} */
.task-img {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 12px;
  padding: 15px;
  background-color: rgb(237, 232, 241);
}

.task-ul-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
}

.task-ul-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task-li-wrapper {
  grid-column: span 1;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.task-li-items {
  width: 100%;
  list-style-type: none;
  padding: 8px;
}

.card-section {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(237, 232, 241);
  padding-bottom: 25px;
}

.card-section-header {
  grid-column: span 3;
  width: 100%;
  height: 300px;
  margin-top: 25px;
  background-color: rgb(166, 173, 168);
}

.card-section-title {
  margin: 25px 0 25px 0;
}

.card-section-body {
  width: 60%;
  height: 150px;
  margin: 10px 0 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(237, 232, 241);
  border-radius: 10px;
}

.card-containers {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 325px));
  background-color: rgb(0, 0, 255);
  align-self: center;
  justify-self: stretch;
  gap: 15px;
  margin-top: 3.5rem;
}

.cards {
  grid-column: span 1;
  max-width: 300px;
  max-height: 275px;
  background-color: rgb(134, 131, 136);
}

.card {
  width: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: rgb(24, 24, 29);
  text-align: center;
}

.card-text {
  color: rgb(134, 131, 136);
}

.card-img {
  background-color: rgb(134, 131, 136);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-card {
  width: 150px;
  height: 150px;
}

.work {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 400px));
  gap: 15px;
  background-color: rgb(255, 255, 253);
  padding-bottom: 20px;
}

.work-list {
  grid-column: span 1;
  margin: 50px 0 50px 0;
  width: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin: 0 auto;
}

.work-head {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.work-title {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(156, 117, 22);
}

.cert {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 13px 0 30px 0;
}

.price {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.work-content {
  width: 100%;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  padding: 10px;
}

.services-container {
  width: 100%;
  height: auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-wrapper {
  padding-top: 25px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0 auto;
  background-color: rgb(24, 24, 29);
  color: rgb(255, 255, 253);
}

.services-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.services-title {
  padding-bottom: 25px;
}

.services-contract {
  background-color: rgb(156, 117, 22);
  padding: 20px;
  border-radius: 4px;
}

.services-sub-title {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contract {
  width: 55px;
  height: 55px;
  padding-right: 15px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 15px;
}

.services-card {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-card h3 {
  text-align: center;
  padding: 15px;
}

.calibration-svg {
  margin-top: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.calibration {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.services-additional-title {
  padding: 30px;
}

.services-additional {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-additional-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services-ul-item {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(156, 117, 22);
}

.services-sub-ul-item {
  margin-left: 25px;
}

.li-item {
  list-style-type: none;
  padding: 5px;
}

.services-end {
  text-align: center;
  margin-top: 15px;
  padding: 20px;
}

.bang-area {
  padding: 15px;
}

.bang {
  border-radius: 50%;
  padding: 5px;
}

.form-container {
  width: 100%;
  height: 100%;
  background-color: rgb(156, 117, 22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-tag-container {
  margin: 4rem 0 4rem 0;
  width: 50%;
  height: 15rem;
  border-radius: 10px;
  z-index: 2;
  background-color: rgb(24, 24, 29);
}

.name-tag-title {
  color: rgb(134, 131, 136);
  text-align: center;
  padding: 2px;
  font-size: 24px;
}

.name-tag {
  margin: 0 auto;
  width: 70%;
  height: 8rem;
  background-color: rgb(255, 255, 253);
  position: relative;
  z-index: -1;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 18px;
  font-family: "Covered By Your Grace", cursive;
}

.form-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  margin: 0 0 4rem 0;
}

.f-contact {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.f-label {
  padding: 5px;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  color: rgb(255, 255, 255);
}

.f-input {
  height: 30px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: rgb(255, 255, 253);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 4px;
}

.f-input:focus,
textarea:focus {
  border: 1px solid rgb(24, 24, 29);
  background-color: rgb(166, 173, 168);
}

.form-error {
  padding: 0.3rem;
  color: rgb(255, 255, 255);
}

#message {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.messagearea {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  resize: none;
  background-color: rgb(255, 255, 253);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 4px;
}

.btn-contact {
  padding: 15px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 10px 0 10px 0;
  margin: 20px 0 20px 25px;
  background-color: rgb(53, 38, 63);
  color: rgb(134, 131, 136);
}

.foot {
  grid-area: footer;
  width: 95vw;
  height: auto;
  color: rgb(134, 131, 136);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.locale {
  width: 45%;
  padding: 15px;
}

.hours-container {
  width: 25%;
  padding: 15px;
}

.social {
  width: 15%;
  padding: 15px;
}

.f-aitem {
  text-decoration: none;
  color: rgb(134, 131, 136);
  padding: 0.5rem;
}

.f-li-items {
  list-style-type: none;
  display: block;
}

.cpright {
  width: 100%;
}

.foot-bbb-img {
  max-width: 252px;
  max-height: 200px;
}
/*# sourceMappingURL=style.css.map */
