@font-face {
    font-family: 'danielbold';
    src: url('../fonts/Daniel-Bold-webfont.woff2') format('woff2');
    src: url('../fonts/Daniel-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
